@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:wght@400;700&family=Michroma&family=Roboto&family=Urbanist:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #7e6e8a;
}

code {
    font-family: Josefin Sans, Roboto, Michroma, Urbanist, source-code-pro,
        Menlo, Monaco, Consolas, "Courier New", monospace;
}

.vertical-line::after {
    content: "";
    display: block;
    position: absolute;
    left: 25%;
    top: 45%;
    width: 1px;
    height: 25%;
    background-color: #fcea2b;

}
@media (max-width: 1300px) and (min-width: 1025px) {
    .vertical-line::after {
        left: 25%;
        top: 52%;
        height: 25%;
    }
}
@media (max-width: 767px) {
    .vertical-line::after {
        left: 15%;
        top: 60%;
        height: 40%;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    .vertical-line::after {
        left: 52%;
        top: 30%;
        height: 30%;
    }
}

.button-cover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.button-cover:hover::after {
    opacity: 1;
}

.triangle-arrow {
    width: 20px;
    height: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #fcea2b;
    display: inline-block;
}

.tall-box {
    min-height: 300px;
}

.custom-line {
    border-top: 8px solid #37184f;
    width: 100%;
}

.yellow-line {
    border-top: 4px solid #37184f;
    width: 40%;
}

/* Fixes an issue with the note (overflow not working with border radius) */
.note-mask {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
