@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #7e6e8a;
}

code {
    font-family: Josefin Sans, Roboto, Michroma, Urbanist, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.vertical-line::after {
    content: '';
    display: block;
    position: absolute;
    left: 25%;
    top: 45%;
    width: 1px;
    height: 25%;
    background-color: #FCEA2B;
  }
  
  .button-cover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .button-cover:hover::after {
    opacity: 1;
  }
  
  